<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mot de Passe Oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mot de Passe Oublié</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header >
       <ion-card-title color="primary" style="text-align: center;">
         <ion-icon name="person-circle-outline"></ion-icon>
          Mot de passe oublié / Envoi d'email</ion-card-title> 
   </ion-card-header>
    <ion-card-content>
        <form >
           <ion-item>
             <ion-input type="email" labelPlacement="floating" label="Email" ></ion-input>
           </ion-item>
           
           <ion-button expand="block" color="primary" style="margin-top: 10px;">
            <i class="bi bi-send-fill"></i> 
             Enregistrer</ion-button>
        </form>
    </ion-card-content>
 </ion-card>
</ion-content>
