<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mot de Passe Oublié</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mot de Passe Oublié</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header  id="header">
      <img id="img" src="/assets/images/user.jpg"/>
       <!-- <ion-card-title color="primary" style="text-align: center;">
         <ion-icon name="person-circle-outline"></ion-icon>
          Mot de passe oublié / Envoi d'email</ion-card-title>  -->
   </ion-card-header>
    <ion-card-content>
        <p id="text-header">OUBLI MOT DE PASSE</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
           <ion-item>
             <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
           </ion-item>
           
           <ion-button expand="block" color="primary" style="margin-top: 10px;"
           [disabled]="!forgotPasswordForm.valid">
            <i class="bi bi-send-fill"></i> 
             Enregistrer</ion-button>

             <ion-button expand="block" color="danger" style="margin-top: 10px;"
                  (click)="backToLogin()"
                >
                <ion-icon name="arrow-back-circle-outline"></ion-icon> 
                  Cancel</ion-button>
        </form>
    </ion-card-content>
 </ion-card>
</ion-content>
