<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Changement de Mot de Passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Changement de Mot de Passe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header >
       <ion-card-title color="primary" style="text-align: center;">
         <ion-icon name="person-circle-outline"></ion-icon>
          Nouveau Mot de passe</ion-card-title> 
   </ion-card-header>
    <ion-card-content>
        <form [formGroup]="resetPasswordForm" class="center" (ngSubmit)="resetPassword()" >
           <div class="error">
              {{message}}
           </div>
           <ion-item>
             <ion-input type="email" labelPlacement="floating" label="Email"
             formControlName="email" ></ion-input>
           </ion-item>
           <ion-item>
            <ion-input type="password" labelPlacement="floating" label="Ancien mot de passe"
            formControlName="oldPassword"></ion-input>
          </ion-item>
           <ion-item>
             <ion-input type="password" labelPlacement="floating" label="Nouveau mot de passe"
             formControlName="newPassword"></ion-input>
           </ion-item>
           <ion-item>
             <ion-input type="password" labelPlacement="floating" label="confirmez mot de passe" 
             formControlName="newPassword2"> </ion-input>
           </ion-item>
           
           <ion-button expand="block" color="primary" style="margin-top: 10px;" type="submit">
            <i class="bi bi-pencil"></i>
             Changer Mot de Passe</ion-button>
             
        </form>
    </ion-card-content>
 </ion-card>
</ion-content>
