<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <div class="container" id="container">
    <form  [formGroup]="loginForm" (ngSubmit)="Login()" (keyup.enter)="Login()">
          <div class="mt-2 mb-4">
            <img src="/assets/images/logoKoutye2.png" id="img"/>
          </div>
          
          <span class="error" *ngIf="message$ |async as message">
             {{message}}
          </span>
          <ion-item>
            <ion-input type="text" formControlName="username"  placeholder="Nom utilisateur" ngModel></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input #inputPassword type="password" formControlName="password"  placeholder="Mot de passe" ngModel></ion-input>
            <ion-button slot="end" fill="clear"  id="button-icon"  (click)="showPassword(inputPassword)">
            </ion-button>
          </ion-item>
          
          <div class="spin" *ngIf="spinner$ | async">
            <ion-spinner name="bubbles" color="danger"></ion-spinner>
          </div>
          
          <ion-button id="con" class="mt-3 mb-3" type="submit"  size="full"
          >
            CONNECTER  <i id="i-connect" class="bi bi-box-arrow-in-right"></i>
          </ion-button>
          
          <div class="choice">
             <p>Pas de compte? <a class="mb-3" [routerLink]="['/register']">
                Cr&eacute;&eacute;z Un.
             </a>
            </p>
            <p>Mot de passe oubli&eacute;?<a  class="mb-3"  routerLink="/forgotpassword">
              R&eacute;initialisez-le.</a>
            </p>
          </div>
          
    </form>
  </div>
</ion-content>
