ion-content {
  --background: url("/assets/images/back.avif") no-repeat center center / cover;
}

ion-card{
  //display: flex;
  //flex-direction: column;
  margin: auto !important;
  background: #F5F5F5;
  width: 80%;
  border-radius: 20px;
}
ion-card-title
{
  font-family: Caveat,Roboto, "Helvetica Neue", sans-serif;
}

ion-button[color="dark"]
{
    text-transform: initial;
}

.container
{
    text-align: center;

    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    
}

.error
{
    color:red;
}

//------------------------------------------
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  #img
  {
     width: 100px;
     height: 100px;
     border-radius: 50%;
  }

  .iconEye {
    font-size: 24px;
    //padding-left: 0px;
    //padding-top: 12px;
    //vertical-align: middle;
}

#button-icon
{
   margin-left: -10px;
}

ion-item {
    margin-top: 5px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #00008B;
    --highlight-height: 0px;
    --highlight-color-valid: #00008B;
    --highlight-color-focused: #00008B;
    --highlight-color-invalid: #00008B;
}

@media screen and (max-width: 312px) {
  #button-icon
  {
     margin-left: -50px;
  }

  #link-forgotpassword a
  {
     float: right !important;
     color: black;
  }
 
  .bi{
     font-size: 50px;
  }

  #nu, #con,#i-add,#i-connect{
      font-size: 10px;
  }
  
}

@media screen and (min-width: 312px) {
  #button-icon
  {
     margin-left: -50px;
  }

}