#btn-retour{
    --border-radius: 50%;
    float: right;
    margin-top: 92%;
}



#image-user img
{
    //border: 2px solid #3880ff;
    border: 1px solid  #FF5733;
    border-radius: 50%;
}

#image-user{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -50px;
}

#photo{
    width: 100px;
    height: 100px;
}
#camera{
  position: absolute;
  top: 20px; 
  right: -20px; 
  font-size: 30px;
  color: #FF5733 ; 
  padding: 10px;
  cursor: pointer;
}

#list ion-item{
    height: 25px;
    --color:#3880ff;
}

#list ion-item :hover{
    cursor: pointer;
    --color: #FF5733;
}

#banner{
    background-color: #3880ff;
    height: 100px;
}

#img-person{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#nom{
    font-size: 12px;
    margin-bottom: 0;
}

#text-message{
    font-size: 10px;
}

#info-user{
    padding:2px; 
    border: 1px solid #3880ff; 
    margin-top:50px;
}

#info-user ion-list ion-item{
    font-size: 11px;
    display : flex;
    flex-direction: row;
    height: 30px;
}

.label{
   font-size: xx-small;
}

// css table

