<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="Profil">
        <ion-label>Profil</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Courtier">
        <ion-label>Courtier</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">user-home</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
