<ion-content class="ion-padding">
    
  <ion-segment class="mb-3" value="0"  #tabSegment (ionChange)="changeSegment($event)">
    <ion-segment-button value="0" >
      <ion-label>Profil</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Courtier</ion-label>
     
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>
  
   <!-- {{tabSegment.value}} -->
   <div class="content">
      <div *ngIf="tabSegment.value==0">

        <div class="detail-user">
          <div id="image-user">

          </div>
        </div>
          
          
      </div>
      <div *ngIf="tabSegment.value==1">
          <div class="courtier">
            <ion-grid>
              <ion-row>
                <ion-col>Nom</ion-col>
                <ion-col>prenom</ion-col>
                <ion-col>username</ion-col>
              </ion-row>
            </ion-grid>
          </div>
      </div>
      <div *ngIf="tabSegment.value==2">
          <p>autre</p>
      </div>
   </div>
   
   <!-- <ion-button id="btn-retour" (click)="goBack()"> <ion-icon name="return-up-back-outline"></ion-icon></ion-button> -->
</ion-content>

