#header{
    height: 100px;
    --background: url("/assets/images/back.avif") no-repeat center center / cover;
}

#header i{
    font-size: 100px;
    display: flex;
    justify-content: center;
}

#text-header{
     margin-top: 40px;
     margin-bottom: 10px;
     font-family: bold;
     font-size: large;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #5882FA;
}

ion-item{
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
    --ion-item-background: #F2F2F2;
    height: 35px;
    font-size: 13px;
}

.input-error{
    border: red 1px solid;
}

#img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: -50px;
}
