<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
       <ion-card-header id="header">
        <!-- <i class="bi bi-person-circle" ></i> -->
        <img id="img" src="assets/images/user.jpg"/>
        <!--  <ion-card-title color="primary" style="text-align: center;">
            <ion-icon name="person-circle-outline"></ion-icon>
             Nouvel utilisateur</ion-card-title> -->
      </ion-card-header>
       <ion-card-content>
        
        <!-- [ngClass]="{'input-error': registerForm.controls.nom.invalid}" -->
           <p id="text-header">CREATION DE COMPTE</p>
           <div *ngIf="message$ | async as message" class="error">
               <p>{{message}}</p>
           </div>
           <form [formGroup]="registerForm" (ngSubmit)="register()">
              <ion-item >
                <ion-input type="text"  placeholder="Nom" formControlName="nom" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="prénom" formControlName="prenom"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Confirmez mot de passe" formControlName="confirmPassword"></ion-input>
              </ion-item>
              <ion-item>
                 <ion-select placeholder="Type utilisateur" formControlName="typeUser">
                    <ion-select-option>Courtier</ion-select-option>
                    <ion-select-option>Locataire</ion-select-option>
                    <ion-select-option>Propriétaire</ion-select-option>
                 </ion-select>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="t&eacute;l&eacute;phone" 
                formControlName="phone" pattern="^[0-9]+$">
              </ion-input>
              </ion-item>
              <div class="spinner-container" *ngIf="isLoading">
               <ion-spinner class="spinner" name="crescent" color="danger"></ion-spinner>
                <ion-img src="assets/images/logoKoutye.PNG"></ion-img>
              </div>
              
              <ion-button expand="block" color="primary" style="margin-top: 10px;"
              type="submit">
                <ion-icon name="add-outline"></ion-icon> 
                Enregistrer</ion-button>
                <ion-button expand="block" color="danger" style="margin-top: 10px;"
                  (click)="backToLogin()"
                >
                <ion-icon name="arrow-back-circle-outline"></ion-icon> 
                  Cancel</ion-button>
           </form>

       </ion-card-content>
    </ion-card>
</div>
</ion-content>
